@charset "utf-8";

@media(min-width:769px) {

    #front-background {
        width: 100%;
        height: 100vh;
        background-image: url("../img/header2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    #slider {
        margin: 0 auto;
        width: 100%;
        height: auto;
        z-index: 2;
    }

    #slider > #slider-widget {
        margin: auto;
        width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;

    }

    #slider > #slider-widget > h4 {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding-top: 150px;
        z-index: 2;

    }

    #slider > #slider-widget > h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 20px;
        height: auto;
        width: 70%;
        z-index: 2;

    }

    #slider > #slider-widget > h6 {
        margin-top: 1%;
        width: 40%;
        height: auto;
        text-align: center;
        z-index: 2;

    }

}
